<script lang="ts" setup>
import { ref } from "vue";

const number1 = ref(0);
const n2 = ref<number[]>([]);
function table(number1: number) {
  n2.value.splice(0, n2.value.length);
  for (let i = 1; i <= number1; i++) {
    n2.value.push(i);
  }
}
</script>

<template>
  <v-form
    ><v-text-field
      label="Plase input Number"
      class="ma-10"
      v-model="number1"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      :oninput="table(number1)"
    ></v-text-field
  ></v-form>
  <v-container style="height: 500px; overflow: auto">
    <v-row>
      <v-col cols="12 " md="1" v-for="item in n2" :key="item">{{ item }}</v-col>
    </v-row>
  </v-container>
</template>
