<script lang="ts" setup>
import { ref } from "vue";
const image = ref<{ name: string; img: string; status: boolean; id: number }[]>(
  [
    {
      name: "Angry",
      img: "feeling_imgs/angry.png",
      status: false,
      id: 1,
    },
    {
      name: "Cute",
      img: "feeling_imgs/cute.png",
      status: false,
      id: 2,
    },
    {
      name: "Excited",
      img: "feeling_imgs/excited.png",
      status: false,
      id: 3,
    },
    {
      name: "Pain",
      img: "feeling_imgs/pain.png",
      status: false,
      id: 4,
    },
    {
      name: "Shocked",
      img: "feeling_imgs/shocked.png",
      status: false,
      id: 5,
    },
    {
      name: "Smile",
      img: "feeling_imgs/smile.png",
      status: true,
      id: 6,
    },
  ]
);
const img = ref("feeling_imgs/smile.png");
const text = ref("Smile");
const ch = (item: { name: string; img: string; status: boolean }) => {
  img.value = item.img;
  text.value = item.name;
  image.value.forEach((item) => (item.status = false));
  if (item.status === true) {
    item.status = true;
  } else {
    item.status = !item.status;
  }
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6"><v-img :src="img" class="left"> </v-img></v-col>
      <v-col cols="6">
        <v-row>
          <v-col class="text-center">
            <h1>{{ text }}</h1>
          </v-col>
        </v-row>
        <v-row v-for="item in image" :key="item.id">
          <v-btn
            width="40vw"
            class="mt-5"
            @click="ch(item)"
            :class="{ bgyellow: item.status, bgwh: !item.status }"
            >{{ item.name }}</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.bgyellow {
  background-color: yellow;
}

.bgwh {
  background-color: white;
}

.left {
  margin-right: 150px;
}
</style>
