<script setup lang="ts">
import { useplusCounterStore } from "@/stores/counter";
const useCounter = useplusCounterStore();
</script>
<template>
  <div>First Component</div>
  <div>{{ useCounter.count }}</div>

  <v-btn @click="useCounter.increment">INCREMENT</v-btn>
</template>
