<script setup lang="ts">
import { useplusCounterStore } from "@/stores/counter";

const useCounter = useplusCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ useCounter.count * 2 }}</div>
  <v-btn @click="useCounter.decrease">DECREASE</v-btn>
</template>
